{{>header}}

    <section id="coupenSection">
		<div class="container">
			<div id="coupenHead">
			    <h1>{{title}}</h1>
			</div>
			<div class="row">
				
				<div class="col-lg-12 text-center">
                    <p>We couldn't find that page. It either moved or does't exist anymore.</p> 
                    <p><a class="siteLink" href="/">Go to Home Page</a></p>
                </div>

			</div>	
		</div>
	</section>
    
{{>footer}}