{{>header}}

    <section id="profileSection">
		<div class="container">

			<h1>{{title}}</h1>

			<div id="profile" >

				{{>profilehead}}
			
				<div id="sidebarContant" class="row">
					<div class="col-lg-3">
						{{>sidebar}}
					</div>
					<div class="col-lg-9">
						<div id="profileEditArea">
                            <p id="message"></p>
                            <form id="changePassword" action="/user/changepassword" method="post">

								<div class="form-row">
									<label for="currentPassword">Old Password</label>
                                	<input type="password" id="currentPassword" name="currentPassword"  />
								</div>

								<div class="form-row">
									<label for="newPassword">New Password</label>
                                	<input type="password" id="newPassword" name="newPassword"  />
								</div>

								<div class="form-row">
									<label for="confirmNewPassword">Conform Password</label>
                                	<input type="password" id="confirmNewPassword" name="confirmNewPassword"  />
								</div>

                               <div class="form-row">
								   <input type="submit" value="Change Password">
							   </div>

                            </form>
						</div>
					</div>
				</div>

			</div>

		</div>				
	</section>

{{>footer}}