<div id="profileHead">
	<div class="row">
		<div id="proHead" class="col-lg-6 col-sm-8">
			<div id="profileName">
				<span>{{profilename}}</span>
				<p>{{username}}</p>
			</div>
		</div>
		<div id="proName" class="col-lg-6 col-sm-4">
			<div class="profileMail">
				<p>Total Points: <strong>{{points}}</strong></p>
			</div>
		</div>
	</div>
</div>