<ul id="sidebar">
	<li><a class="{{#ifEquals submenu "profile"}}active{{/ifEquals}}" href="/user/profile">My Profile</a></li>
	<li><a class="{{#ifEquals submenu "editprofile"}}active{{/ifEquals}}" href="/user/edit-profile">Edit Profile</a></li>
    <li><a class="{{#ifEquals submenu "uploadreceipt"}}active{{/ifEquals}}" href="/user/uploadreceipt">Upload Receipt</a></li>
	<li><a class="{{#ifEquals submenu "receipthistory"}}active{{/ifEquals}}" href="/user/receipt-history">Receipt History</a></li>
	<li><a class="{{#ifEquals submenu "couponhistory"}}active{{/ifEquals}}" href="/user/coupon-history">Coupon History</a></li>
	<li><a class="{{#ifEquals submenu "changepassword"}}active{{/ifEquals}}" href="/user/change-password">Change Password</a></li>
	<li><a href="/user/logout">Logout</a></li>
</ul>